:root{
    /*card colors*/
    --brightOrange: hsl(31, 77%, 52%);
    --darkCyan: hsl(184, 100%, 22%);
    --veryDarkCyan: hsl(179, 100%, 13%);

    /*neutral colors*/
    --transparentWhite_paragraphs: hsla(0, 0%, 100%, 0.75);
    --veryLightGray: hsl(0, 0%, 95%);    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--veryLightGray);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body a{
    text-decoration: none;
    color: rgb(79, 79, 79);
}

body a button {
    background-color: rgb(179, 179, 179);
    margin: 2em;
    padding: 1em;
    border: 0px solid rgb(141, 141, 141);
    border-radius: 1em;
    box-shadow: 0px 0px 20px 1px rgb(119, 119, 119);
    cursor: pointer;
}
body a button:hover{
    background-color: rgb(228, 228, 228);
}

main{
    width: 57%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

main .card{
    display: flex;
    flex-direction: column;
    padding: 1.6em;
    width: 50%;
    height: 70%;
}

main .card .icon{
    height: 20%;
}

main .card .text{
    height: 50%;
}
main .card .text h1{
    color: var(--veryLightGray);
    margin-bottom: 7%;
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
}

main .card .text p{
    color: var(--transparentWhite_paragraphs);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

main .card .btn{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
main .card .btn button{
    background-color: var(--veryLightGray);
    padding: .6em 1.6em;
    font-size: 15px;
    border-radius: 20px;
    border: 1px;
    width: 70%;
    transition: .3s;
}
main .card .btn button:hover{
    background-color: transparent;
    color: var(--veryLightGray);
    border: 1px solid var(--veryLightGray);
    transition: .3s;
}

main .card1{
    background-color: var(--brightOrange);
    border-radius: 8px 0px 0px 8px;
}
main .card1 button{
    color: var(--brightOrange);
}

main .card2{
    background-color: var(--darkCyan);
}
main .card2 button{
    color: var(--darkCyan);
}

main .card3{
    background-color: var(--veryDarkCyan);
    border-radius: 0px 8px 8px 0px;
}
main .card3 button{
    color: var(--veryDarkCyan);
}


@media (min-width: 1440px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body{
        background-color: var(--veryLightGray);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    body a{
        text-decoration: none;
        color: rgb(79, 79, 79);
    }
    body a button {
        background-color: rgb(179, 179, 179);
        margin: 2em;
        padding: 1em;
        border: 0px solid rgb(141, 141, 141);
        border-radius: 1em;
        box-shadow: 0px 0px 20px 1px rgb(119, 119, 119);
        cursor: pointer;
    }
    body a button:hover{
        background-color: rgb(231, 231, 231);
    }
    
    main{
        width: 700px;
        height: 100vh;
        display: flex;    
        align-items: center;    
    }

    main .card{
        display: flex;
        flex-direction: column;
        padding: 2em;
        width: 50%;
        height: 70%;
    }

    main .card .icon{
        height: 20%;
    }

    main .card .text{
        height: 50%;
    }

    main .card .text h1{
        color: var(--veryLightGray);
        margin-bottom: 10%;
        font-family: 'Big Shoulders Display', sans-serif;
        font-weight: 700;
    }
    main .card .text p{
        color: var(--transparentWhite_paragraphs);
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
    }

    main .card .btn{
        height: 30%;
    }
    main .card .btn button{
        background-color: var(--veryLightGray);
        padding: .6em 1.6em;
        border-radius: 20px;
        border: 1px;
        transition: .3s;
    }
    main .card .btn button:hover{
        background-color: transparent;
        color: var(--veryLightGray);
        border: 1px solid var(--veryLightGray);
        transition: .3s;
    }
    
    main .card1{
        background-color: var(--brightOrange);
        border-radius: 10px 0px 0px 10px;
    }
    main .card1 button{
        color: var(--brightOrange);
    }
    
    main .card2{
        background-color: var(--darkCyan);
    }
    main .card2 button{
        color: var(--darkCyan);
    }
    
    main .card3{
        background-color: var(--veryDarkCyan);
        border-radius: 0px 10px 10px 0px;
    }
    main .card3 button{
        color: var(--veryDarkCyan);
    }
    }

@media (min-width: 375px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--veryLightGray);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body a{
    text-decoration: none;
    color: rgb(79, 79, 79);
}

body a button {
    background-color: rgb(179, 179, 179);
    margin: 2em;
    padding: 1em;
    border: 0px solid rgb(141, 141, 141);
    border-radius: 1em;
    box-shadow: 0px 0px 20px 1px rgb(119, 119, 119);
    cursor: pointer;
}
body a button:hover{
    background-color: rgb(228, 228, 228);
}

main{
    width: 57%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

main .card{
    display: flex;
    flex-direction: column;
    padding: 1.6em;
    width: 50%;
    height: 70%;
}

main .card .icon{
    height: 20%;
}

main .card .text{
    height: 50%;
}
main .card .text h1{
    color: var(--veryLightGray);
    margin-bottom: 7%;
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
}

main .card .text p{
    color: var(--transparentWhite_paragraphs);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

main .card .btn{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
main .card .btn button{
    background-color: var(--veryLightGray);
    padding: .6em 1.6em;
    font-size: 15px;
    border-radius: 20px;
    border: 1px;
    width: 70%;
    transition: .3s;
}
main .card .btn button:hover{
    background-color: transparent;
    color: var(--veryLightGray);
    border: 1px solid var(--veryLightGray);
    transition: .3s;
}

main .card1{
    background-color: var(--brightOrange);
    border-radius: 8px 0px 0px 8px;
}
main .card1 button{
    color: var(--brightOrange);
}

main .card2{
    background-color: var(--darkCyan);
}
main .card2 button{
    color: var(--darkCyan);
}

main .card3{
    background-color: var(--veryDarkCyan);
    border-radius: 0px 8px 8px 0px;
}
main .card3 button{
    color: var(--veryDarkCyan);
}
}
